<div class="drugs">
<h1>Legal-Illegal Drugstore</h1>
<p>Click on the drugs to check the drugs!</p>
<div class="drug">
        {{#each drugsDB}}
        <div class="onedrug">
            <h2>{{this.name}}</h2>
            {{!-- <img src="{{this.image}}" href="/drugs/{{this._id}}" alt="{{this.name}}"> --}}
            <a href="/drugs/{{this._id}}"><img src="{{this.image}}" alt="HTML tutorial" style="width:400px;"></a>

            <h2>Price</h2>
            <p>{{price}}</p>

            <a href="/drugs/{{this._id}}">See More</a>
        </div>
        {{/each}}
            <a href="/">Go back</a>
</div>
</div>