<div class="movie-details">
<h1>{{name}}</h1>
<div class="info">
<div class="image">
    <img src="{{image}}" alt="{{name}}" style="width:500px">
    </div>
    <div class="info">

       <h3>What does it do to your brain and body:</h3>
<iframe width="560" height="315" src={{video}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <ul>

       </ul>

       <h3>What does it looks like:</h3>
       <p>{{look}}</p>
       <h3>What is the method people use it:</h3>
       <p>{{method}}</p>
       <h3>What are the effects:</h3>
       <p>{{effect}}</p>
       <h3>How long is the duration:</h3>
       <p>{{duration}}</p>
       <h3>Can you mix it with other drugs?</h3>
       <p>{{mixing}}</p>
       <h3>Does it become addictive?</h3>
       <p>{{addiction}}</p>
       <h3>What is the usual price?</h3>
       <p>{{price}}</p>
       <h3>It is also called</h3>
       <p>{{alsoCalled}}</p>

{{#each price}}
{{this}} |
{{/each}}
</p>
    </div>
    </div>
    <a href="/drugs">Go back</a>
</div>



